.wrapper{
    display: flex;
    justify-items: auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    margin: 0.2rem;
    flex:1;
   
}
.card-content{
    padding: 0.4rem;
 
}
.image_render{
    background-color: grey;
   height: 100%;
   width:320px;
  

}
.image_render{
    background-color: grey;
   height: 100%;
   width:320px;
  

}
.image_render1{
    
   height: 100%;
   width:320px;
  

}